@font-face{
	font-family: "TimesNewPSMT";
	src: url("../font/TimesNewRomanPSMT.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
}
@font-face{
	font-family: "ArialMT";
	src: url("../font/ArialMT.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
}
@font-face{
	font-family: "ArialMT";
	src: url("../font/Arial-ItalicMT.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
@font-face{
	font-family: "Georgia";
	src: url("../font/Georgia.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
}
.wrapper{
	overflow: hidden;
}

																					/*Header*/
header{
	background: url(../images/background.png) center no-repeat;
	background-size: cover;
	height: 100vh;
	padding-top: 60px;
	box-sizing: border-box;	
}
header .cointerner-pets{
	position: relative;
}
.cointerner-pets{
	max-width: 1170px;
	width: calc(100% - 50px);
	margin: 0 auto;	
	text-align: center;
	box-sizing: border-box; 
	height: 100%; 

}
.header-info__wrap{
	display: flex;
	align-items: center;
	width: 100%;
	height: calc(100% - 58px);
	box-sizing: border-box; 
} 
.header-text-wrap{
	text-align: start;
}
h1{
	font-family: Georgia;
	font-size: 44px;
	font-weight: 400; 
	color: #ffffff; 
	width: 346px;
}
.header-subtitle{
	max-width: 443px;
	font-family: ArialMT;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #cdcdcd;
	margin-top: 46px;
}
.header-button{
	font-family: Georgia;
	font-size: 17px;
	font-weight: 400;
	color: #292929;
	padding: 19px 44px;
	background-color: #f1cdb3;
	border-radius: 100px;	
	outline: none;
	border: none;
	margin-top: 44px;
	cursor: pointer;
	transition: all 0.3s ease-in;
}
.header-button:hover{
	background-color:#D8B8A1;
}
.header-image__wrapper{
	max-width: 55%; 
	position: absolute; 
	bottom: 0;
	right: 0; 		
}
.header-image{	
	width: 100%;
	height: auto;
}  
																					/* burger-menu */
.header-nav__wrap{
	display: flex;
	justify-content: space-between;
	text-align: start;
	align-items: center;
	z-index: 5;
}
.logo{
	font-family: Georgia;
	font-size: 32px;
	font-weight: 400;
	color: #f1cdb3;
}
.logo-title{
	font-family: ArialMT;
	font-size: 13px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 8px;
}																			
.nav-links{
	display: flex;
	justify-content: space-between;
}
.nav-links li{
	list-style: none;
	margin-right: 40px;
}
.nav-links li:last-child{
	margin-right: 0;
}
.nav-links a{
	text-decoration: none;
	font-family: ArialMT;
	font-size: 15px;
	font-weight: 400;
	color: #cdcdcd;	
	padding-bottom: 5px;
	transition: all 0.6s ease-in;
}
.nav-links a:hover{
	border-bottom: 2px solid #f1cdb3;
}
.burger{
	display: none;
	cursor: pointer;
}
.line{
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: #f1cdb3;
	transition: all 0.4s ease;
}
@keyframes navLinksFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}																					

																					/*About*/
.about{
	padding: 89px 0;
}
.about-inner{
	display: flex;
	justify-content: center;
}
.about__image-wrap{
	max-width: 300px;
}
.about__image-wrap img{
	width: 100%;
	height: auto;
}
.about-wrap{
	margin: 30px 0 30px 117px ;
	max-width: 414px;
	text-align: start;
}
.about-wrap h2{
	max-width: 300px;
}
h2{
	font-family: Georgia;
	font-size: 35px;
	font-weight: 400;
	color: #545454;
}
.about-subtitle{
	font-family: ArialMT;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #4c4c4c;
	margin-top: 35px;
}
																					/*Pets*/
.pets{
	padding: 78px 0 68px 0;
	background: #f6f6f6;
}
.pets-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 74px;
	margin-bottom: 66px;
}
.slick-list {
    margin: 15px;
}
.slick-arrow {
	min-width: 50px;
	height: 50px;
	border: 2px solid #f1cdb3;
	border-radius: 50%;
	outline: none; 
	font-size: 0;
	cursor: pointer;
}
.slick-arrow:hover {
	border: 2px solid #f1cdb3;
	background-color: #f1cdb3;
}
.slick-prev {
	background: url(../images/prew.png) no-repeat center ; 
}
.slick-next {
	background: url(../images/next.png) no-repeat center ; 
}
.slick-slide {
	outline: none;
	margin: 0 25px;
	width: 270px; 
}
.pets-cards{	
	height: 424px;
	background-color: #fafafa;
	border-radius: 9.0px;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	border: 1px solid #D8B8A1;
}
.slick-current .pets-cards{
	box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
}
.slick-current .pets-cards_button{
	border: 2px solid #f1cdb3;
	background-color: #f1cdb3;
}
.pets-cards-image{
	height: 240px;
	width: auto;
	margin: 0 auto;
}
.pets-cards-image img{
	height: 100%;
	width: auto;
}
.img{
	margin: 0 auto;
	width: 100%;
}
.img img{
	width: 100%;
	height: auto;
}
.top{
	padding: 0;
	height: 454px;
}
.top .pets-cards_name{
	margin-top:60px;
}
.pets-cards_name{
	font-family: Georgia;
	font-size: 20px;
	font-weight: 400;
	color: #545454;
	margin-top:30px;
}
.pets-cards_button {
	width: 188px;
	height: 52px;
	border: 2.0px solid #f1cdb3;
	border-radius: 26.0px;
	background: #fafafa;
	margin: 34px auto 24px;
	cursor: pointer;
}
.cointerner-pets > button{
	background-color: #f1cdb3;
	border: 2px solid #f1cdb3;
	border-radius: 100px;
	font-family: Georgia;
	font-size: 17px;
	font-weight: 400;
	color: #292929;
	padding: 19px 44px;
}

																					/*Help*/
.help{
	padding: 75px;
}																					
.icon-card-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.icon-card_title{
	color: #545454;
	font-family: Georgia;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1.2px;
	margin-top: 25px;
}
.icon-card{
	width: 18%;
	margin-top: 78px;
}
.icon-card:last-child{
	margin-right: 117px;
}
.icon-card:nth-child(6) {
	margin-left: 117px;
}
.icon-card__img{
	height: 70px;
}
																					/*Donation*/
.donation{
	background-color: #f6f6f6;
	padding: 71px 0  84px 0;
}
.donation-inner {
	display: flex;
	justify-content: center;
	text-align: justify;
}
.donation-image{
	width: 50%;
}
.donation__text-wrapper{
	width: 31%;
	margin-left: 67px;
}
.donation-image img{
	width: 100%;
	height: auto;
}
.donation__text-info {
	color: #545454;
	font-family: Georgia;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.9px;
	margin: 35px 0 18px 0;
}
.donation__text-card {
	width: 319px;
	border-radius: 9px;
	background-color: #f1cdb3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 17px 15px;
	box-sizing: border-box;
}
.donation__text-card__number {
	color: #292929;
	font-family: "Times New Roman PSMT";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.2px;
}
.donation__text-desk {
	color: #b2b2b2;
	font-family: "Arial - Italic MT";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin-top: 33px;
}
																					/*Footer*/

footer{
	background: url(../images/background.png);
	padding: 78px 0 58px 0;
	position: relative;
}
.footer-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: start;
}
.footer-item {
	width: calc((100% - 290px)/3);	
}
footer h2{
	color: #ffffff;
	margin-bottom: 40px;
}
.footer-item__info {
	display: flex;
	height: 42px;
	align-items: center;	
	margin-bottom: 25px;
}
.item__info-icon img{
	width: auto;
	margin-right: 22px;
}
.item__info-desk {
	color: #f1cdb3;
	font-family: "Times New Roman PSMT";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.2px;
	align-self: center;
}
.footer-images__wrapper{
	width: 50%;
	position: absolute;
	bottom: 0;	
}
.footer-images__wrapper img{
	height: auto;
}
                                                                                    /* Responsive */
@media (max-width: 1200px){
	.header-subtitle{
		max-width: 380px;
	}	
	.icon-card:last-child{
		margin-right: 0px;
	}
	.icon-card:nth-child(6) {
		margin-left: 0px;
	}
	.donation__text-wrapper {
		width: 40%;
	}
	.footer-item {
		width: calc((100% - 100px)/3);
	}
	.slick-list {

	}
	.pets-cards-image img{
		height: auto;
		width: 100%;
	}
}
@media (max-width: 1024px){
	.pets-cards {
		width: 270px;
		margin: 0 auto;
	}
}

@media (max-width: 992px){
	.burger{
		display: block;
	}
	.nav-links{
		position: absolute;
		right: -25px;
		height: calc(100% - 58px);
		top: 43px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 70%;
		background-color: #f1cdb3;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		box-sizing: border-box;
	}
	.nav-links li { 
		opacity: 0;
	}	
	.nav-active{
		transform: translateX(0%);
	}
	.nav-links a{
		text-decoration: none;
		font-family: ArialMT;
		font-size: 25px;
		font-weight: 400;
		color: #545454;
		padding-bottom: 5px;
		transition: all 0.6s ease-in;
	}
	.header-image__wrapper {
		display: none;
	}
	.header-text-wrap {
		text-align: center;
	}
	h1 {
		width: 100%;
	}
	.header-subtitle {
		max-width: 95%;
		margin: 44px auto;
	}
	.header-button {
		margin-top: 20px;
	}
	.header-info__wrap {
		justify-content: center;
		text-align: center;
	}
	.about-inner{
		align-items: center;
	}
	.about-wrap {
		max-width: 100%;
		margin: 30px 25px;
	}
	.about-wrap h2 {
		max-width: 100%;
		text-align: center;
	}
	.about-subtitle {
		margin-top: 25px;
	}
	.icon-card {
		width: 30%;
		margin-top: 78px;
	}
	.donation-inner {
	align-items: center;
	}
	.donation-image {
		width: 50%;
	}
	.donation__text-wrapper {
		width: 60%;
	}
	.donation {
		padding: 55px 0;
	}
	footer {
		padding: 58px 0 35px 0;
	}
	footer h2 {
		margin-bottom: 30px;
	}
	.footer-item {
		width: calc((100% - 50px)/2);
	}
	.footer-item:nth-child(3){
		display: none;
	}
	.footer-item__info {
		margin-bottom: 20px;
	}
	.pets-wrap {
		margin: 56px 0 50px;
	}
}
@media (max-width: 768px){
	.about {
		padding: 50px 0px;
	}	
	.about-wrap {
	}
	h1 {
		font-size: 35px;
	}
	.about-inner {
		display: block; 
	}
	.about__image-wrap {
		max-width: 200px;
		margin: 0 auto;
	}	
	.icon-card {
		width: 40%;
		margin-top: 50px;
	}
	.help {
		padding: 55px;
	}
	.donation-inner {
		display: block;
	}
	.donation-image	{
		margin: 0 auto;
	}
	.donation__text-wrapper {
		width: 100%;
		text-align: center; 
		margin:0 auto;
	}
	.donation__text-info {
		margin: 20px auto 15px;
	}
	.donation__text-card {
		margin:0 auto;
	}	
	.footer-item {
		width: 100%;
	}
	.footer-items {
		display: block;
	}	
	footer {
		padding: 35px 0 20px 0;
	}
	.pets {
		padding: 50px 0 50px;

	}
	.pets-wrap {
		margin: 30px 0 30px;
	}
}
@media (max-width: 576px){
	h1{
		line-height: 1.5;
	}
	.cointerner-pets{
		width: calc(100% - 15px);
	}
	.header-info__wrap {
		width: 100%;
	}
	.header-subtitle {
		max-width: 100%;
		margin: 35px auto;
	}
	.about-wrap {
		margin: 20px auto 20px;
		text-align: justify;
	}
	.about-wrap > h2{
		text-align: center;
	}
	.about-wrap  h2{
		max-width: 100%;
	}
	.about-subtitle {
		margin-top: 20px;
	}
	.about {
		padding: 30px 0px;
	}
	.help {
		padding: 30px 0;
	}
	.icon-card-wrap {
		justify-content: center;
	}
	.icon-card_title {
		margin-top: 5px;
		font-size: 15px;
	}
	h2 {
		font-size: 25px;
	}
	.donation {
		padding: 30px 0;
	}
	.donation__text-card__number {
		font-size: 15px;
	}
	.donation__text-card {
		max-width: 85%;
	}
	.donation__text-desk {
		margin-top: 20px;
	}
	footer {
		padding: 30px 0 20px 0;
	}
	.footer-items {
		text-align: center;
		line-height: 1.2;
	}
	footer h2 {
		margin-bottom: 20px;
	}
	.nav-links a {
		font-size: 20px;
	}
	.nav-links {
		width: 80%;
	}
	.pets {
		padding: 30px 0;
	}
	.pets-wrap {
		margin: 20px 0;
	}
	.slick-list {
		margin: 0px;
	}
}

